body {
  background-color: #E7EDF0;
}

/* Percent Bar */
.barParent {
  width: 50vw;
  height:3vh;
}
.bar-fill {
  height:3vh;
  background-color: red;
  transition: .3s ease all;
}
.editor-field {
  background-color: white;
}
.editor {
 border: 1px solid grey;
 padding: 6px;
}
@import 'navbar.css';